pkgbase = keyd-openrc
	pkgdesc = A key remapping daemon for linux
	pkgver = 2.5.0.r3.393d341
	pkgrel = 1
	url = https://github.com/rvaiya/keyd
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	depends = openrc
	optdepends = python3: for keyd-application-mapper
	provides = keyd
	conflicts = keyd
	source = git+https://github.com/rvaiya/keyd.git
	source = Makefile.patch
	source = keyd.install
	source = keyd.init
	source = usb-gadget.init
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = keyd-openrc
